/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(fonts/b9QBgL0iMZfDSpmcXcE8nPVFL0ofnRu5Y2lP-UpEUGU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(fonts/b9QBgL0iMZfDSpmcXcE8nBBQ_Gf4FfI8J4SYljBAylk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(fonts/Zd2E9abXLFGSr9G3YK2MsD86pq2NkPzVgw_9lpT6RGI.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(fonts/Zd2E9abXLFGSr9G3YK2MsDAdhzWOYhqHvOZMRGaEyPo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
  color: #eee;
  font-family: 'Roboto Condensed', sans-serif; margin: 0; padding: 0;
  min-width: 480px;
}

.content {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  height: 100%;
  transition: all 0.25s ease-in-out;
}

form { margin: 0; }
input[type=file] { display: none; }

.btn-default {
  background: #eee;
  color: #000;
  box-shadow: 0 2px #777;
}

.btn,
.btn:focus,
.btn:hover,
.btn:visited {
  text-decoration: none;
}

.btn {
    border: none;
    font-family: inherit;
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
    padding: 8px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    text-align: center;
}

.btn:active {
  box-shadow: 0 0 #777;
  top: 2px;
}

/*
** TOOLTIPS
*/

/* Base styles for the element that has a tooltip */
[data-tooltip] {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* base styles for tooltip's content area */
[data-tooltip]:after {
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 12px;
  line-height: 1.2;
  padding: 8px;
  text-align: center;
  width: 80px;
  z-index: 1000;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
[data-tooltip-position="top"]:before,
[data-tooltip-position="top"]:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
[data-tooltip-position="top"]:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
[data-tooltip-position="top"]:after {
  margin-left: -40px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip-position="top"]:hover:before,
[data-tooltip-position="top"]:hover:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px);
}

/* Left */
[data-tooltip-position="left"]:before,
[data-tooltip-position="left"]:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

[data-tooltip-position="left"]:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

[data-tooltip-position="left"]:hover:before,
[data-tooltip-position="left"]:hover:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px);
}

/* Bottom */
[data-tooltip-position="bottom"]:before,
[data-tooltip-position="bottom"]:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

[data-tooltip-position="bottom"]:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

[data-tooltip-position="bottom"]:hover:before,
[data-tooltip-position="bottom"]:hover:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px);
}

/* Right */
[data-tooltip-position="right"]:before,
[data-tooltip-position="right"]:after {
  bottom: 50%;
  left: 100%;
}

[data-tooltip-position="right"]:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

[data-tooltip-position="right"]:hover:before,
[data-tooltip-position="right"]:hover:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
[data-tooltip-position="left"]:before,
[data-tooltip-position="right"]:before {
  top: 8px;
}

/* Vertically center tooltip content for left/right tooltips */
[data-tooltip-position="left"]:after,
[data-tooltip-position="right"]:after {
  margin-left: 0;
  margin-bottom: -16px;
}


#page-notifications { position: fixed; text-align:center; top: 48px; width: 100%; z-index: 999999; }

header {
  background: #444; padding: 8px; width: 100%;
  height: 48px;
}

header .toolbar { float: right; }
header h1 { color: #fff; font-size: 18px; line-height: 32px; margin: 0; }
header h1 a { color: inherit; text-decoration: none }

main {
  align-content: stretch;
  background-color: #000;
  color: #eee;
  display: flex;
  flex: 1 1 auto;
  overflow-y: auto;
}

main a {
  color: #eee;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #eed3d7;
  color: #b94a48;
  background-color: #f2dede;
}

.alert-btn-close {
  background-color: transparent;
  border: none;
  color: #b94a48;
  cursor: pointer;
  font-size: 16px;
  -moz-outline: 0;
  outline: 0;
  padding: 10px;
  position: absolute;
  right: 16px;
  top: 0;
}


.paste-data { display: flex; flex: 1 1 auto; overflow: hidden; }

.paste-data pre, .paste-data textarea { background-color: transparent; border: 4px transparent dashed; color: inherit; margin: 4px; overflow-y: auto; padding: 4px; transition: all 0.3s; }
.paste-data textarea.dragging { border-color: #777; }

.paste-data pre code, .paste-data textarea { background-color: transparent; font-family: 'Courier New', monospace; font-size: 14px; height: inherit; line-height: 1.42857143; max-width: 100%; resize: none; width: 100%; white-space: pre-wrap; }
.paste-data textarea:focus { outline: none !important; }

.paste-modal { display: none; height: 16em; margin-top: -8em; padding: 8px; position: fixed; text-align: center; top: 50%; width: 100%; }
.paste-modal > h2 { margin: 8px 0; }
.paste-modal > h3 { margin: 8px 0; }

footer {
  background-color: #000;
  color: #eee;
  height: 48px; padding: 8px;
}

footer h1 { display: inline-block; font-size: 12px; line-height: 32px; margin: 0; }
footer p { font-size: 12px; line-height: 32px; margin: 0; padding: 0; text-align: right; }
footer a { color: #ddd; }
footer input { background-color: #000; border: 1px solid #777; color: #eee; font-size: 12px; line-height: 1.5; padding: 5px 10px; }
footer input:active,
footer input:focus { outline-color: #357ebd; }

.history-list { margin: 16px 0; width: 100%; }
.history-list h1 { text-align: center; }
.history-list h2 { display: inline-block; font-size: 24px; margin: 16px 0 4px; }
.history-list ul li { list-style-type: none; }
.history-list ul li p { margin: 0; }

#paste-image-raw, #paste-object-raw { flex: 1 1 auto; margin: 16px 0; text-align: center; }
#paste-object-raw > iframe, #paste-image-raw > img { height: auto; max-width: 100%; }
#paste-other-raw { height: 16em; margin-top: -8em; padding: 8px; position: fixed; text-align: center; top: 50%; width: 100%; }

::-webkit-scrollbar { height: 6px; width: 6px; }
::-webkit-scrollbar-track { background: rgba(192, 192, 192, 0.1); }
::-webkit-scrollbar-thumb { background: rgba(128, 128, 128, 0.8); }
::-webkit-scrollbar-thumb:window-inactive { background: rgba(128, 128, 128, 0.4); }


/*
** HELP MODAL
*/
.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

body.modal-open .modal-wrapper {
  opacity: 1;
  visibility: visible;
}

body.modal-open .content {
}

.modal {
  width: 80%;
  height: 400px;
  margin: 50% 0 0 -40%;
  position: relative;
  top: 40%; 
  left: 50%;
  background: #fff;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

body.modal-open .modal-wrapper .modal {
  margin-top: -200px;
  opacity: 1;
}

.modal-header { background: #444; height: 48px; padding: 8px; }
.modal-header h1 { color: #fff; font-size: 18px; line-height: 32px; margin: 0; }
.modal-header h1 a { color: inherit; text-decoration: none }

.modal-content {
  background: #222;
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 8px;
}

.modal-content code {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #ccc;
  padding: 2px;
  font: 12px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  color: #f56161;
}

.modal-btn-close {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  float: right;
  -moz-outline: 0;
  outline: 0;
  padding: 8px;
  top: 0;
}

/*
** PRETTY PRINT (TOMORROW-NIGHT-EIGHTIES)
*/

.hljs {
  color: #cccccc;
}

.hljs-comment,
.hljs-quote {
  color: #999999;
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #f2777a;
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f99157;
}

.hljs-attribute {
  color: #ffcc66;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #99cc99;
}

.hljs-title,
.hljs-section {
  color: #6699cc;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #cc99cc;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
