body {
  color: #333;
}

.btn-default {
  background: #5cb85c;
  color: #fff;
  box-shadow: 0 2px #449d44;
}

.btn-default:active {
  box-shadow: 0 0 #449d44;
}

header {
  background: #428bca; padding: 8px; width: 100%;
}

main {
  background-color: #fff;
  color: #333;
}

main a {
  color: #333;
}

footer {
  background-color: #333;
}

.modal-header {
  background-color: #428bca;
}

.modal-content {
  background-color: #fff;
}

.modal-content code {
  color: #c7254e;
}

/*
** PRETTY PRINT (TOMORROW)
*/

.hljs {
  color: #4d4d4c;
}

.hljs-comment,
.hljs-quote {
  color: #8e908c;
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #c82829;
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5871f;
}

.hljs-attribute {
  color: #eab700;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #718c00;
}

.hljs-title,
.hljs-section {
  color: #4271ae;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #8959a8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
